body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #007bff;
}

.card {
    background-color: #fff;
    border-radius: 8px;
}

.btn-group .btn {
    width: 100px;
    font-size: 18px;
    padding: 10px;
}